services:
  ai-service-backend:
    build: 
      context: ./backend/ai-service-backend
      dockerfile: Dockerfile
    container_name: ai-service-backend
    ports:
      - "3000:3000"
  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: telegram-bot
    env_file:
      - ./bot/.env
    # Если нужно "пробросить" порт для webhook,
    # то указываем, например: "3000:3000".
    # В нашем случае используется long polling, так что доступ к порту не требуется,
    # но вот пример вам на будущее:
    #ports:
    #  - '3000:3000'
    depends_on:
      - ai-service-backend
    networks:
      - app-network

#  mongo:
#    image: mongo:6
#    container_name: mongo-db
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: rootpassword
#    ports:
#      - '27017:27017'
#    networks:
#      - app-network

networks:
  app-network:
