.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
    z-index: 1000;
    width: 80%;
    margin: 25px;
    padding: 12px 22px;
}

.navbar-main {
    justify-content: left;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    margin-right: 50px;
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar-menu a {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
    color: #000000;
}